@model BaiTap.Models.Customer;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Customer" asp-action="Save">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" />
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
    </div>
    <button type="submit">Create</button>
</form>

